<div class="row">
	<div class="span3 well">
		<center>
			<a href="#" data-toggle="modal" data-target="#aboutModal">
				<img src="images/me.jpg" name="aboutme" width="170" height="170" class="img-circle">
			</a>
			<h3>Ahmed Shabbir</h3>
			<em>click my face for more info</em>
		</center>
		

			<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">✕</button>
							<h3>About Me</h3>
						</div>
						<div class="modal-body" style="text-align:center;">
							<div class="row-fluid">
								<div class="span10 offset1">
									<div id="modalTab">
										<div class="tab-content">
											<div class="tab-pane active" id="about">
            		
												<img src="images/me.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
												<h3 class="media-heading">Ahmed Shabbir <small> USA</small></h3>
												<span><strong>Skills: </strong></span>
												<span class="label label-info">HTML5/CSS</span>
												<span class="label label-info">ASP.net</span>
												<span class="label label-info">SQL</span>
												<span class="label label-success">ruby</span>
												<span class="label label-success">Sinatra</span>
											</center>
											<hr>
											<center>
												<p class="text-left"><strong>Bio: </strong><br>
													Senior Software Engineer with 8+ years of experience in software development, analysis and quality assurance working on multiple domains including finance, healthcare and credentialing using agile methodologies.
													<br>
												</p>
											</center>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>
</div>