	
	<div class="row">        
		<div class="col-xs-18 col-sm-6 col-md-3">
			<div class="thumbnail ">
				<img src="images/sinatra.jpg" alt="Sinatra" class="img-responsive" >
               
				<div class="caption">
					<h4>Sinatra</h4>
					<p>Welcome to this website that's all about the songs of the
						great Frank Sinatra.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
