<% title="Songs By Sinatra" %>
<!doctype html>
<html lang="en">
<head>
	<title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>
<body>
	
	<header class="page-header ">	
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand text-muted" href="#"><%= title %></a>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/" title="Home">Home</a></li>
						<li><a href="/songs" title="About">Songs</a></li>
						<li><a href="/about" title="About">About</a></li>
						<li><a href="/contact" title="Contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	
	<section class="container">
		<%= yield %>
	</section>
	
	
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
