<div class="row">
	<div class="col-md-12">
		<a href='/songs/<%= @song.id %>' >back</a>
		
		<div class="well">
			<div class="row">
				<div class="col-md-10">
					<form action="/songs/<%= @song.id %>" method="post" accept-charset="utf-8">
						<input type="hidden" name="_method" value="PUT" id="_method">
						<%= erb :song_form%>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>



